body, ul, ol {
    margin: 0;
    padding: 0;
    background-color: rgb(7, 5, 3);
}

.flex-container {
    display: flex;
    height: 65px;
    background-color: rgb(7, 5, 3);
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: space-between;
}

.headerAreaText {
    color: rgb(240, 233, 229);
    font-size: 1.333em;
}

#mainPageHeader {
    margin-left: 40px;
}

.the-headers{
    margin-right: 10px;
    display: flex;
    height: 65px;
    background-color: rgb(7, 5, 3);
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.mainDisplay{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgb(109, 56, 24, 0.2);
    height: 500px;
}



.CatImageHolder {
    background-color: rgb(109, 56, 24, 0.1);
    width: 400px; 
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    margin-right:150px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.CatImageHolder img {
    max-width: 100%;
    height: auto;
}

.CatTextHolder{
    background-color: rgb(109, 56, 24, 0.1);
    width: 500px; 
    height: auto; 
    display: block;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    margin-right: 60px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#CatTextHeader{
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: space-between;
}

#CatTextParagraph {
    display: flex;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: space-between;
}

.SecondDisplay {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgb(7, 5, 3);
    height: 800px;

}

.headOne{
    display: block;
    margin-bottom: 600px;
    color: rgb(240, 233, 229);
    font-size: 1.333em;
}

.SecondDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headOne {
    margin-bottom: 20px;
}

.imageHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(7, 5, 3);
    width: 100%;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.peopleImageHolder {
    background-color: rgb(109, 56, 24, 0.1);
    width: 400px; 
    height: auto; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    padding: 20px;
    margin-right: 20px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.peopleImageHolder img {
    max-width: 100%;
    height: 150px;
}

.peopleText {
    margin-top: 10px;
    text-align: center;
    color: rgb(240, 233, 229);
    font-size: 1.333em;
}

.creepy-text {
    font-family: "Creepster", cursive;
    font-size: 15px;
    color: rgb(255, 255, 255); 
}


